<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            <span class="fw-bold" id="authHeader"></span>
            <span> with roles: </span>
            <span id="authRoles"></span>
            </span>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<div>
    <div class="row gx-5">
        <div class="col-md-2">
            <div class="flex-column flex-shrink-0 p-3" style="width: 230px;">
                <ul class="nav nav-pills flex-column mb-left">
                    <li>
                        <a href="#" class="nav-link active">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 p-3">
            <h2>User information-page</h2>


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="content1">
                    <div class="card w-100">
                        <div class="card-header">
                            <b>About user</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead class="border-top">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id="currentUserInfo">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('[data-dismiss="modal"]').click(function () {
            $('.modal').modal('hide');
        });
        fillHeader();
    });
</script>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>